:root {
    --green-btn: #04AA6D;
    --blue-btn: #008CBA;
    --red-btn: #F44336;
    --light-gray-btn: #e7e7e7;
    --black-btn: #555555;
    --white-txt: #ffffff;
    --black-txt: #000000;
    --red-txt: #ff0000;
    --yellow-txt: #ffff00;
    --silver: #c0c0c0;
    --orange: #ff7500;
}

#title-header {
    text-align: center;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    text-align: center;

}

.main-btn {
    margin: 20px;
    font-size: 18px;

}


button {
    border-color: var(--blue-btn);
    border-radius: 0 20px 0 20px;
    padding: 0 1rem 0 1rem;
}

.stats-p1 {
    display: grid;
    position: absolute;
    vertical-align: auto;
    padding: 5px 0 5px 0;
}

.stats-p2, .stats-pc{
    visibility: hidden;
    display: grid;
    position: absolute;
    vertical-align: auto;
    right: 0;
}

.stat {
    padding: 3px 0 3px 0;
    
}