:root {
    --green-btn: #04AA6D;
    --blue-btn: #008CBA;
    --red-btn: #F44336;
    --light-gray-btn: #e7e7e7;
    --black-btn: #555555;
    --white-txt: #ffffff;
    --black-txt: #000000;
    --red-txt: #ff0000;
    --yellow-txt: #ffff00;
    --blue-txt: #004DDf;
    --silver: #c0c0c0;
    --orange: #ff7500;
    --light-red: #CD004F;
    --light-blue: #006fed;
}

body {
    margin: 1rem 20px 1rem 20px;
}

#title-header {
    text-align: center;
}

#versus-window {
    display: none;
    position: fixed;
    top: 25%; left: 50%;
    transform: translate(-50%, -25%);
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border: 3px solid var(--black-txt);
    border-radius: 10px;
    z-index: 10;
    /***higher z-index, closer it is to the user***/
}

#overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
}


.fight-overlay {
    display: none;
    position: fixed;
    width: 35%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
}

#p1-overlay {
    display: none;
    top: 0; left: 0;
}

#p2-overlay, #pc-overlay {
    display: none;
    top: 0; right: 0;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    text-align: center;

}

.btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
}

.main-btn {
    margin: 20px;
    font-size: 18px;

}


.menu-story, .main-btn {
    border-color: var(--blue-btn);
    border-radius: 0 20px 0 20px;
    padding: 0 1rem 0 1rem;
}

.versus-body{
    background-image: url("./assets/imgs/gladi-free.png");
    background-size: cover;
    
}

#versus-selector-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.stats-p1 {
    background-color: rgba(255, 160, 180, 0.4);
    border-radius: 1rem;
    display: grid;
    position: absolute;
    vertical-align: auto;
    left: 1.5rem;
    margin-top: 2rem;
}

.stats-p2, .stats-pc{
    background-color: rgba(255, 160, 180, 0.4);
    border-radius: 1rem;
    visibility: hidden;
    display: grid;
    position: absolute;
    vertical-align: auto;
    right: 1.5rem;
    margin-top: 2rem;
}

.name {
    padding: 0.5rem;
}

.stat {
    padding: 0 0.5rem 0.5rem 0.5rem;
    
}

.bar {
    width: 18rem;
    height: 1rem;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1rem;
}

#health-bar {
    background-color: var(--light-red);
}

#shield-bar {
    background-color: var(--yellow-txt);
}

#mana-bar {
    background-color: var(--light-blue);
}

.left-btn-fight {
    display: grid;
    position: absolute;
    border-radius: 0;
    top: 15rem;
    left: 7rem;
    width: auto;
}

.right-btn-fight {
    display: grid;
    position: absolute;
    border-radius: 0;
    top: 15rem;
    right: 7rem;
    width: auto;
}

.left-fight, .right-fight {
    margin: 20px 0 0 0;
    height: 2rem;
    padding: 0 1rem 0 1rem;
}

.left-fight {
    border-radius: 10% 50% 50% 10%;
}

.right-fight {
    border-radius: 50% 10% 10% 50%;
}